*,
::after,
::before,
::backdrop,
::file-selector-button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0 solid;
}

body {
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	height: 100%;
	display: grid;
	grid-template-areas:
		'sidebar header'
		'sidebar main'
		'sidebar main'
        'sidebar main';
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul,
ol {
	list-style: none;
}
